.backgroundColor{
    background: #000000;
}
body {
    background: #ededed;
    margin-left:0px;
    padding: 0px;
}

.color_container {
    margin-left: 0px;

}



.search_button {
    border-radius: 5px;
    color: black;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
}

.categories_block {
    width: 350px;
    position: relative;
}