@model OlxWebApplication.Models.User.SignUpUserModel
@{
    ViewData["Title"] = "Registration";
}

<form asp-action="Registration" asp-controller="Auth" method="post">

    <h1>Heool Blaitb</h1>
    <div class="border p-3 mt-4">
        <div class="form-group">
            <h2 class="text-primary">Registration</h2>
            <hr />
        </div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="text" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="text" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserRole"></label>
            <input type="text" asp-for="UserRole" class="form-control" />
            <span asp-validation-for="UserRole" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" style="width:150px" value="Registration" />
        </div>

    </div>
</form>


