@using OlxWebApplication.Models.ViewModels;
@model OlxWebApplication.Models.ViewModels.ResearchViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="color_container">
    <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
        <button type="submit" style="margin-block-start:5px" class="search_button">Search</button>
        @foreach (CategoryViewModel u in ViewBag.Categories)
        {
            <div style="float: left; padding:5px;">
                <input class="btn btn-outline-secondary" type="button" value="@u.Name" onclick="selected_category('@u.Name', '@u.Id')" />
            </div>
            <input hidden class="categoryName" asp-for="Category.Name">
            <input hidden class="categoryId" asp-for="Category.Id">
        }
    </form>
</div>
