@using OlxWebApplication.Models.ViewModels;
@model OlxWebApplication.Models.ViewModels.ResearchViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="color_container">
    <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
        <button type="submit" class="search_button">Search</button>
        @foreach (CategoryViewModel u in ViewBag.Categories)
        {
            <div style="float: left">
                <div class="btn btn-outline-dark mx-2" onclick="selected_category('@u.Name', @u.Id)">@u.Name</div>

            </div>
            <input hidden class="categoryName" asp-for="Category.Name" >
            <input hidden class="categoryId" asp-for="Category.Id" >
        }


    </form>
</div>
<script src="~/create.js" asp-append-version="true"></script>


@section Scripts {
    <script src="~/js/create.js"></script>
}